site_name: MagicSoup
theme: readthedocs
repo_url: https://github.com/mRcSchwering/magic-soup/

extra_javascript:
  - https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js?config=TeX-AMS-MML_HTMLorMML

markdown_extensions:
  - mdx_math:
      enable_dollar_delimiter: True

nav:
  - "index.md"
  - "mechanics.md"
  - "tutorials.md"
  - "reference.md"
  - "other_simulations.md"
  - "figures.md"

plugins:
  - search
  - exclude:
      glob:
        - "*.py"
        - "*.pyc"
        - "*.txt"
        - "runs/*"
  - mkdocstrings:
      handlers:
        python:
          paths: [python]
          options:
            # see https://mkdocstrings.github.io/python/usage/
            heading_level: 3
            show_bases: false
            show_root_toc_entry: false
            show_source: false
            show_object_full_path: false
            members_order: source
            show_signature: true
            merge_init_into_class: true
            show_if_no_docstring: false
            filters: ["!^_", "^__init__$"]
            
