# necessary for development and testing
maturin>=1.4.0,<2.0.0
mkdocs>=1.4.2,<1.5.0
mkdocstrings[python]>=0.9.0,<0.10.0
Pygments>=2.14.0,<2.15.0
python-markdown-math>=0.8,<0.9
pytest>=7.2.0,<8.0.0
plotnine>=0.10.0,<0.11.0
ipykernel>=6.22.0,<7.0.0
tensorboard>=2.12.0,<3.0.0
Levenshtein>=0.21.1,<0.22.0